<% if current_user.try(:admin) %>
	<div class="row">	
		<div class="col-md-offset-3 col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">		
					<h1>Add a user directly from here</h1>
					<%= form_for @user, url: add_new_user_path do |form| %>
						<%= form.hidden_field :paypal_payment_token, value: "this is a dummy value" %>

						<div class="form-group">
							<%= form.label :name %>
							<%= form.text_field :name, autofocus: true, class: "form-control" %>
						</div>
						<div class="form-group">
							<%= form.label :username %>
							<%= form.text_field :username, class: "form-control" %>
						</div>
						<div class="form-group">
							<%= form.label :email %>
							<%= form.email_field :email, class: "form-control" %>
						</div>
						<div class="form-group">
							<%= form.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
					    	<%= form.password_field :password, autocomplete: "off", class: "form-control" %>
					    </div>
					    <div class="form-group">
					    	<%= form.label :admin %>
					    	<%= form.select :admin, options_for_select([false, true]), {}, class: "form-control" %>
					    </div>
					    <div class="form-group">
				    		<%= button_to "Add new user", add_new_user_path, class: "btn btn-primary" %>
				    	</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
<% else %>
	<%= render "pages/pleasesignin" %>
<% end %>