<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% f.fields_for :workoutbit do |workoutbit_form| %>
    <% workoutbit_form.label :workout_id %>
    <% workoutbit_form.number_field :workout_id %>
    <h3>Hello there</h3>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :category %>
    <%= f.text_field :category, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :duration %>
    <%= f.number_field :duration, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :weightFacility, "Weight room needed?" %>
    <%= f.select :weightFacility, options_for_select(@facilityOptions), class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit 'Submit', class: "btn btn-primary" %>
  </div>


<% end %>
