<div class="panel panel-default">
	<div class="panel-body">
		<h1>Weeklyplan History</h1>
		<table class="table table-striped">
			<thead>
				<th>Weeklyplan</th>
				<th>Created at</th>
				<th>Active?</th>
				<th>Hits</th>
			</thead>
				<% @weeklyplans.each do |list| %>
					<tr>
						<td><%= list.name %></td>
						<td><%= list.created_at.month %>/<%= list.created_at.day %>/<%= list.created_at.year %></td>
						<td><%= list.active ? "Yes" : "No" %></td>
						<td><%= list.hits %></td>
					</tr>
				<% end %>

		</table>
	</div>
</div>