<div class="panel panel-default">
  <div class="panel-body">

    <% @d = Date.today %>
    <% @sun = @d.beginning_of_week(:sunday) %>
    <% @mon = @sun + 1 %>
    <% @tues = @sun + 2 %>
    <% @wed = @sun + 3 %>
    <% @thurs = @sun + 4 %>
    <% @fri = @sun + 5 %>
    <% @sat = @sun + 6 %>

    <h1>Listing weekplans</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sunday workout</th>
          <th>Monday workout</th>
          <th>Tuesday workout</th>
          <th>Wednesday workout</th>
          <th>Thursday workout</th>
          <th>Friday workout</th>
          <th>Saturday workout</th>
          <th></th>
          <% if current_user.try(:admin?) %>
            <th colspan="3"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @weekplans.each do |weekplan| %>
          <% @sunworkout = "" %>
          <% @monworkout = "" %>
          <% @tuesworkout = "" %>
          <% @wedworkout = "" %>
          <% @thursworkout = "" %>
          <% @friworkout = "" %>
          <% @satworkout = "" %>
          <% @workoutCount = 0 %>
          <% unless weekplan.sunday_workout_id.blank? %>
            <% @sunworkout = Workout.find(weekplan.sunday_workout_id) %>
            <% @workoutCount +=1 %>
          <% end %>
          <% unless weekplan.monday_workout_id.blank? %>
            <% @monworkout = Workout.find(weekplan.monday_workout_id) %>
            <% @workoutCount +=1 %>
          <% end %>
          <% unless weekplan.tuesday_workout_id.blank? %>
            <% @tuesworkout = Workout.find(weekplan.tuesday_workout_id) %>
            <% @workoutCount +=1 %>
          <% end %>
          <% unless weekplan.wednesday_workout_id.blank? %>
            <% @wedworkout = Workout.find(weekplan.wednesday_workout_id) %>
            <% @workoutCount +=1 %>
          <% end %>
          <% unless weekplan.thursday_workout_id.blank? %>
            <% @thursworkout = Workout.find(weekplan.thursday_workout_id) %>
            <% @workoutCount +=1 %>
          <% end %>
          <% unless weekplan.friday_workout_id.blank? %>
            <% @friworkout = Workout.find(weekplan.friday_workout_id) %>
            <% @workoutCount +=1 %>
          <% end %>
          <% unless weekplan.saturday_workout_id.blank? %>
            <% @satworkout = Workout.find(weekplan.saturday_workout_id) %>
            <% @workoutCount +=1 %>
          <% end %>
          <tr>
            <td><%= link_to weekplan.name, weekplan, class: "workoutLink" %></td>

            <td><% unless @sunworkout.blank? %>
                  <%= link_to @sunworkout.try(:name), @sunworkout, class: "workoutLink" %>

                    <% form_for :subscription, url: subscriptions_path do |f| %>
                      <%= f.hidden_field :workout_id, value: @sunworkout.try(:id) %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :schedule, value: @sun %>
                      <%= f.submit "Subscribe", class: "btn btn-primary btn-xs" %>
                    <% end %>

                <% end %>
            </td>

            <td><% unless @monworkout.blank? %>
                  <%=link_to @monworkout.try(:name), @monworkout, class: "workoutLink" %>
                    <% form_for :subscription do |f| %>
                      <%= f.hidden_field :workout_id, value: @monworkout.try(:id) %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :schedule, value: @mon %>
                      <%= f.submit "Subscribe", class: "btn btn-primary btn-xs" %>
                    <% end %>
                  <% end %>
            </td>

            <td><% unless @tuesworkout.blank? %> 
                  <%=link_to @tuesworkout.try(:name), @tuesworkout, class: "workoutLink" %>
                    <% form_for :subscription do |f| %>
                      <%= f.hidden_field :workout_id, value: @tuesworkout.try(:id) %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :schedule, value: @tues %>
                      <%= f.submit "Subscribe", class: "btn btn-primary btn-xs" %>
                    <% end %>
                  <% end %>
            </td>

            <td><% unless @wedworkout.blank? %> 
                  <%= link_to @wedworkout.try(:name), @wedworkout, class: "workoutLink" %>
                    <% form_for :subscription do |f| %>
                      <%= f.hidden_field :workout_id, value: @wedworkout.try(:id) %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :schedule, value: @wed %>
                      <%= f.submit "Subscribe", class: "btn btn-primary btn-xs" %>
                    <% end %>
                  <% end %>
            </td>

            <td><% unless @thursworkout.blank? %> 
                  <%= link_to @thursworkout.try(:name), @thursworkout, class: "workoutLink" %>
                    <% form_for :subscription do |f| %>
                      <%= f.hidden_field :workout_id, value: @thursworkout.try(:id) %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :schedule, value: @thurs %>
                      <%= f.submit "Subscribe", class: "btn btn-primary btn-xs" %>
                    <% end %>
                  <% end %>
            </td>

            <td><% unless @friworkout.blank? %> 
                  <%= link_to @friworkout.try(:name), @friworkout, class: "workoutLink" %>
                    <% form_for :subscription do |f| %>
                      <%= f.hidden_field :workout_id, value: @friworkout.try(:id) %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :schedule, value: @fri %>
                      <%= f.submit "Subscribe", class: "btn btn-primary btn-xs" %>
                    <% end %>
                  <% end %>
            </td>

            <td><% unless @satworkout.blank? %> 
                 <%=link_to @satworkout.try(:name), @satworkout, class: "workoutLink" %>
                    <% form_for :subscription do |f| %>
                      <%= f.hidden_field :workout_id, value: @satworkout.try(:id) %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :schedule, value: @sat %>
                      <%= f.submit "Subscribe", class: "btn btn-primary btn-xs" %>
                    <% end %>
                  <% end %>
            </td>

            <% if current_user.try(:admin?) %>
              <td><%= link_to 'Show', weekplan %></td>
              <td><%= link_to 'Edit', edit_weekplan_path(weekplan) %></td>
              <td><%= link_to 'Destroy', weekplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>

          <% if false %>
          <%# This is what I want to do... Submit all workouts in weekplan with one button %>
          <% form_for :subscription, url: subscriptions_path do |form| %>
            
            <% unless sunworkout.blank? %> 
              <%= form.fields_for :subscriptions, @subscription do |f| %>
                <%= f.hidden_field :workout_id, value: sunworkout.try(:id) %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :schedule, value: sun %>
      
              <% end %>
            <% end %>
            <% unless monworkout.blank? %> 
              <%= form.fields_for :subscriptions, @subscription do |g| %>
                <%= g.hidden_field :workout_id, value: monworkout.try(:id) %>
                <%= g.hidden_field :user_id, value: current_user.id %>
                <%= g.hidden_field :schedule, value: mon %>
                
              <% end %>
            <% end %>
            <% unless tuesworkout.blank? %> 
              <%= form.fields_for :subscriptions, @subscription do |h| %>
                <%= h.hidden_field :workout_id, value: tuesworkout.try(:id) %>
                <%= h.hidden_field :user_id, value: current_user.id %>
                <%= h.hidden_field :schedule, value: tues %>
               
              <% end %>
            <% end %>
            <% unless wedworkout.blank? %> 
              <%= form.fields_for :subscriptions, @subscription do |j| %>
                <%= j.hidden_field :workout_id, value: wedworkout.try(:id) %>
                <%= j.hidden_field :user_id, value: current_user.id %>
                <%= j.hidden_field :schedule, value: wed %>
              
              <% end %>
            <% end %>
            <% unless thursworkout.blank? %> 
              <%= form.fields_for :subscriptions, @subscription do |k| %>
                <%= k.hidden_field :workout_id, value: thursworkout.try(:id) %>
                <%= k.hidden_field :user_id, value: current_user.id %>
                <%= k.hidden_field :schedule, value: thurs %>
               
              <% end %>
            <% end %>
            <% unless friworkout.blank? %> 
              <%= form.fields_for :subscriptions, @subscription do |l| %>
                <%= l.hidden_field :workout_id, value: friworkout.try(:id) %>
                <%= l.hidden_field :user_id, value: current_user.id %>
                <%= l.hidden_field :schedule, value: fri %>
                
              <% end %>
            <% end %>
            <% unless satworkout.blank? %> 
              <%= form.fields_for :subscriptions, @subscription do |m| %>
                <%= m.hidden_field :workout_id, value: satworkout.try(:id) %>
                <%= m.hidden_field :user_id, value: current_user.id %>
                <%= m.hidden_field :schedule, value: sat %>
               
              <% end %>
            <% end %>

            <td><%= form.submit "Subscribe", class: "btn btn-primary" %></td>
          <% end %>
          <% end %>

          <%= form_for :subscription, url: subscriptions_path do |form| %>
            
            <% unless @sunworkout.blank? %> 
              <%= form.fields_for :subscription do |f| %>
                <%= f.hidden_field :workout_id, value: @sunworkout.try(:id) %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :schedule, value: @sun %>
      
              <% end %>
            <% end %>
            <% unless @monworkout.blank? %> 
              <%= form.fields_for :subscription do |g| %>
                <%= g.hidden_field :workout_id, value: @monworkout.try(:id) %>
                <%= g.hidden_field :user_id, value: current_user.id %>
                <%= g.hidden_field :schedule, value: @mon %>
                
              <% end %>
            <% end %>
            <% unless @tuesworkout.blank? %> 
              <%= form.fields_for :subscription do |h| %>
                <%= h.hidden_field :workout_id, value: @tuesworkout.try(:id) %>
                <%= h.hidden_field :user_id, value: current_user.id %>
                <%= h.hidden_field :schedule, value: @tues %>
               
              <% end %>
            <% end %>
            <% unless @wedworkout.blank? %> 
              <%= form.fields_for :subscription do |j| %>
                <%= j.hidden_field :workout_id, value: @wedworkout.try(:id) %>
                <%= j.hidden_field :user_id, value: current_user.id %>
                <%= j.hidden_field :schedule, value: @wed %>
              
              <% end %>
            <% end %>
            <% unless @thursworkout.blank? %> 
              <%= form.fields_for :subscription do |k| %>
                <%= k.hidden_field :workout_id, value: @thursworkout.try(:id) %>
                <%= k.hidden_field :user_id, value: current_user.id %>
                <%= k.hidden_field :schedule, value: @thurs %>
               
              <% end %>
            <% end %>
            <% unless @friworkout.blank? %> 
              <%= form.fields_for :subscription do |l| %>
                <%= l.hidden_field :workout_id, value: @friworkout.try(:id) %>
                <%= l.hidden_field :user_id, value: current_user.id %>
                <%= l.hidden_field :schedule, value: @fri %>
                
              <% end %>
            <% end %>
            <% unless @satworkout.blank? %> 
              <%= form.fields_for :subscription do |m| %>
                <%= m.hidden_field :workout_id, value: @satworkout.try(:id) %>
                <%= m.hidden_field :user_id, value: current_user.id %>
                <%= m.hidden_field :schedule, value: @sat %>
               
              <% end %>
            <% end %>

            <td><%= form.submit "Subscribe", class: "btn btn-primary" %></td>
          <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if current_user.try(:admin?) %>
    <div class="panel-footer">
      <%= link_to 'New Weekplan', new_weekplan_path %>
    </div>
  <% end %>
</div>