<div class="panel panel-default">
	<div class="panel-body">
		<h1>Weekly Plans</h1>
		<% @date = Date.today.beginning_of_week(:sunday) %>
		<% dates = Hash.new %>
		<% dates[1] = @date %>
		<% dates[2] = @date + 1 %>
		<% dates[3] = @date + 2 %>
		<% dates[4] = @date + 3 %>
		<% dates[5] = @date + 4 %>
		<% dates[6] = @date + 5 %>
		<% dates[7] = @date + 6 %>

			<% @weeklyplans.each do |weeklyplan| %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong><%= weeklyplan.name %></strong>
					</div>
					<div class="panel-body">
						
						<table class="table table-striped table-condensed">
							<% @dayinc = 1 %>
							<% 7.times do %>
								<% @hasbit = false %>
								<% weeklyplan.weeklybits.each do |check| %>
									<% if check.day == @dayinc %>
										<% @hasbit = true %>
									<% end %>
								<% end %>


								<% if @hasbit %>
									
										<% weeklyplan.weeklybits.each do |check| %>
											<% if check.day == @dayinc %>
													<%# check.create_subscription(current_user.id, check.workout.id, dates[check.day]) %>
													<tr><td><strong><%= Date::DAYNAMES[@dayinc-1] %>:</strong> <%= link_to check.workout.name, check.workout, class: "workoutLink" %></td></tr>
											<% end %>
										<% end %>
								<% else %>
									<tr><td><%= Date::DAYNAMES[@dayinc-1] %>: off</td></tr>
								<% end %>
							
						
							<% @dayinc += 1 %>
							<% end %>
							</table>
							<hr/>
							<!-- This little bit of magic makes an ajax request to workouts controller, to add the weeklyplan as a subscription -->
							<%= button_to "Subscribe", {action: "add_weekly_subscription", :weeklyplan_id => weeklyplan.id, remote: true}, {class: "btn btn-primary"} %>
						</div>
					</div>




					
						


					</tr>
			<% end %>
		</table>
	</div>
</div>
