<div class="row">
  <% workouts.each_with_index do |workout, list_pos| %>
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title center">Take a look at this week's workouts</h1>
        </div>
        <div class="panel-body" style="padding-top: 5px">

          <h3><%= link_to workout.name, workout, class: "workoutLink" %> <small><%= workout.description %></small></h3>
          <h4>Category: <small><%= workout.category %></small></h4>
          

          <% if user_signed_in? %>

            <strong>Exercises: </strong><br/>
                <% workout.workoutbits.each do |workoutbit| %>
                  <%= workoutbit.exercise.name%>: <%= workoutbit.sets %> x <%= workoutbit.reps %><br/>
                <% end %>
          <% end %>
          

        </div>
      </div>
    </div>
  <% end %>
</div>

  <div class="center">
    <%= will_paginate workouts, renderer: BootstrapPagination::Rails %>
  </div>