<div class="panel panel-default">
	<div class="panel-body">
		<h1><%= @workout.name %>
		<small><%= @workout.description %></small></h1>
		<hr/>

		<% @workout.workoutbits.each do |work|  %>

			<h3><%= Exercise.find(work.exercise_id).name %></h3> &nbsp

			Sets: <%= work.sets %> &nbsp
			Reps: <%= work.reps %>

			<hr/>
		<% end %>

		<%= form_for(@workout) do |f| %>
			<!--Here I am...in the form!-->
			<%#= f.text_field :name %>
			<%= f.fields_for :workoutbits do |workoutbit_form| %>
				<%#= workoutbit_form.fields_for :exercises do |exercise_form| %>
	      				<%#= exercise_form.label :id, "Exercise ID: " %>
	      				<%#= exercise_form.text_field :id %>
				<%# end %>
   				
      				<%#= workoutbit_form.label :id, "Workoutbit ID: " %>
      				<%#= workoutbit_form.number_field :id %>

      				<%= workoutbit_form.label :exercise_id, "Exercise ID: "%>
 					<%= workoutbit_form.number_field :exercise_id %>
 					&nbsp

 					<%= workoutbit_form.label :sets, "Sets: "%>
 					<%= workoutbit_form.number_field :sets %>
 					&nbsp

 					<%= workoutbit_form.label :reps, "Reps: "%>
 					<%= workoutbit_form.number_field :reps %>

 					<hr/>

			<% end %>

			<%= f.submit %>
			<hr/>
		<% end %>


	</div>
	<div class="panel-footer">
		<%= link_to "Back", workouts_path %>
	</div>
</div>