<div class="panel panel-default">
	<div class="panel-body">
		<h1>Select the type of workout you'd like</h1>

		<%# @strength.each do |print| %>
			<%#= print.name %>
		<%# end %>

		<table class="table">

				<%= form_tag category_path, :method => 'get' do %>

					<td>
						<%= label_tag(:starts_with, "Starts with:") %>
						<%= text_field_tag :starts_with, params[:starts_with], class: "form-control" %>
					</td>

					<td>
						<%= label_tag(:cat, "Category:") %>
						<%= select_tag :cat, options_for_select(@workoutCategories), class: "form-control" %>
					</td>

					<td align="left", style="vertical-align:bottom">
						<%= submit_tag("Filter", :name => nil, class: "btn btn-default") %>
					</td>
				<% end %>

				<%= form_tag category_path, :method => 'get' do %>
					<td align="left" style="vertical-align:bottom"><%= submit_tag("Reset Filter", class: "btn btn-primary" )%></td>
				<% end %>			

		</table>

		<table class="table">
			<th>Workout</th>
			<th>Category</th>
			<th>Description</th>

			<% @workouts.each do |list| %>
				<tr>
					<td><h3><%= list.name %></h3></td>
					<td><%= list.category %></td>
					<td><%= list.description %></td>
				</tr>
			<% end %>

		</table>

	</div>
</div>