<div class="panel panel-default">
	<div class="panel-body">


		What type of workout would you like?<br/>
		<%= form_tag findWorkout_path, :method => 'get' do %>
 			<%= label_tag(:cat, "Category:") %>
            <%= select_tag :cat, options_for_select(@workoutCategories), class: "form-control" %>
		<%# end %>

		Do you have access to a weight room/exercise equipment?<br/>
		<%#= form_tag workouts_path, :method => 'get' do %>
 			<%= label_tag(:facility, "Do you have access to a weight room?") %>
            <%= select_tag :facility, options_for_select(@facilityOptions), class: "form-control" %>
		<%# end %>
		How long do you have to workout?<br/>
		<%#= form_tag workouts_path, :method => 'get' do %>
 			<%= label_tag(:less_than, "Duration (min) <= ") %>
            <%= number_field_tag :less_than, params[:less_than], class: "form-control" %>
		<% end %>

		<% if params[:facility].present? & params[:less_than].present? & params[:cat].present? %>
			<table class="table">
				<thead>
					<th>Name</th>
		            <th>Category</th>
		            <th>Description</th>
		            <th>Duration (min)</th>
				</thead>
				<% @workouts.each do |this| %>
					<tr>
						<td><%= this.name %></td>
						<td><%= this.category %></td>
						<td><%= this.description %></td>
						<td><%= this.duration %></td>
					</tr>
				<% end %>

			</table>
		<% end %>


	</div>
</div>