<% if user_signed_in? %>
  <div class="visible-md-block visible-lg-block visible-sm-block homepagework">

    <button class="btn" id="home_workout_view">Workouts</button>
    <button class="btn" id="home_weeklyplan_view">Weeklyplans</button>

    <div id="homepageworkouts">
      <%= render 'workouts/listview' %>
    </div>

    <div id="homepageweeklyplans">
      <%= render "workouts/weeklyplanview" %>
    </div>

      <div class="center">
        <%= will_paginate @workouts, renderer: BootstrapPagination::Rails %>
      </div>

  </div>
  <div class="visible-xs-block homepagework">

    <button class="btn" id="home_workout_view_sm">Workouts</button>
    <button class="btn" id="home_weeklyplan_view_sm">Weeklyplans</button>

    <div id="homepageworkouts_sm">
      <%= render 'workouts/listviewsm' %>
    </div>

    <div id="homepageweeklyplans_sm">
      <%= render "workouts/weeklyplanviewsm" %>
    </div>

  <div class="center">
    <%= will_paginate @workouts, renderer: BootstrapPagination::Rails %>
  </div>
</div>



<% else %>
  <%= render 'pages/pleasesignin' %>
<% end %>


