<div class="panel panel-default">
  <div class=panel-body>
    <h1>Workouts</h1>

    <table class="table">

        <%= form_tag workouts_path, :method => 'get' do %>

          <td>
            <%= label_tag(:starts_with, "Starts with:") %>
            <%= text_field_tag :starts_with, params[:starts_with], class: "form-control" %>
          </td>

          <td>
            <%= label_tag(:cat, "Category:") %>
            <%= select_tag :cat, options_for_select(@workoutCategories), class: "form-control" %>
          </td>

          <td align="left", style="vertical-align:bottom">
            <%= submit_tag("Filter", :name => nil, class: "btn btn-success") %>
          </td>
        <% end %>

        <%= form_tag workouts_path, :method => 'get' do %>
          <td align="left" style="vertical-align:bottom"><%= submit_tag("Reset Filter", class: "btn btn-primary" )%></td>
        <% end %>     

    </table>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Duration (min)</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @workouts.each do |workout| %>
          <tr>
            <td><%= link_to workout.name, workout, class: "workoutLink" %></td>
            <td><%= workout.category %></td>
            <td><%= workout.description %></td>
            <td><%= workout.duration %></td>
            <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
            <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
  <div class= "panel-footer">
   <%= link_to 'New Workout', new_workout_path %>
  </div>
</div>