<div class="panel panel-default">
	<div class="panel-body">
	<h1><%= @workout.name %> <small><%= @workout.description %></small></h1>

	<table class="table">
		<tr>
			<td>
				<h3>Category: <small><%= @workout.category %></small></h3>
			</td>
			<td>
				<h3>Duration (min): <small><%= @workout.duration %></small></h3>
			</td>
			<!-- This form is for subscribing to a workout -->
				<%= form_for :subscription, url: subscriptions_path do |form| %>
					<%= form.hidden_field :workout_id, value: @workout.id %>
					<%= form.hidden_field :user_id, value: current_user.id %>
					<td style="vertical-align:bottom">
						<%= form.label :schedule, "Schedule this workout" %>
						<%= form.date_select :schedule, options = { :start_year => Date.current.year, :end_year => Date.current.year, month: Date.current.month, discard_year: true}, default: { year: Date.current.year }, class: "form-control" %>
					</td>
					<td style="vertical-align:bottom" align="right"><%= form.submit "Subscribe" , class: "btn btn-primary" %></td>
				<% end %>
			</td>
		</tr>
		<tr>
		</tr>
	</table>
			<% @warmups.each do |show| %>
				<h4>Warmup: <small><%= show.warmup.description %></small> <%= if current_user.try(:admin?); link_to "Delete", show, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs" end %></h4>

			<% end %>

	<h2>Exercises:</h2>

	<table class="table table-striped">
		<% @workout.workoutbits.each do |work|  %>

			<%#= link_to Exercise.find(work.exercise_id).name, Exercise.find(work.exercise_id), class: "workoutLink" %>
			<tr>
				<td><h4><%= link_to work.exercise.name, work.exercise, class: "workoutLink" %></h4></td>
				<td style="vertical-align:middle">Sets: <%= work.sets %> </td>
				<td style="vertical-align:middle">Reps: <%= work.reps %> </td>
				<td style="vertical-align:middle">Restime: <%= work.restime %> seconds</td>
				<% if current_user.try(:admin?) %>
					<td style="vertical-align:middle" align="right"><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
				<% end %>
			</tr>

		<% end %>
	</table>

	<% if current_user.try(:admin?) %>
		<table class="table">
			<%= form_for :workoutbit, url: workoutbits_path do |form| %>
				<%= form.hidden_field :workout_id, value: @workout.id %>
				<tr>
					<td>
						<%= form.label :exercise_id, "Exercise ID:" %>
						<%= form.select :exercise_id, options_for_select(@exerciseidoptions), {}, {class: "form-control"} %>
					</td>
					<td>
						<%= form.label :sets, "Sets" %>
						<%= form.number_field :sets, class: "form-control" %>
					</td>
					<td>
						<%= form.label :reps, "Reps" %>
						<%= form.number_field :reps, class: "form-control" %>
					</td>		

					<td>
						<%= form.label :restime, "Time between sets" %>
						<%= form.number_field :restime, class: "form-control" %>
					</td>
				
					<td style="vertical-align:bottom"><%= form.submit "Add Exercise", class: "btn btn-primary alignRight" %></td>
				</tr>
			<% end %>
		</table>
	<% end %>
	<% if @warmups.count < 1 %>
	<% if current_user.try(:admin?) %>
		<table class="table">
			<tr>
				<%= form_for :warmwork, url: warmworks_path do |form| %>
					<%= form.hidden_field :workout_id, value: @workout.id %>
					<td align="right"><%= form.label :warmup_id %></td>
					<td><%= form.select :warmup_id, options_for_select(@warmupidoptions), {}, class: "form-control" %></td>
					<td><%= form.submit "Add warmup", class: "btn btn-primary" %></td>
				<% end %>
			</tr>
		</table>
	<% end %>
	<% end %>
	<table class='table'>
		<tr>
			<%= form_for :like, url: likes_path do |form| %>
				<%= form.hidden_field :workout_id, value: @workout.id %>
				<%= form.hidden_field :user_id, value: current_user.id %>
				<td style="padding:10px"><%= button_tag(type: 'submit', class: "btn btn-primary btn-sm") do %>
		 			<span class="glyphicon glyphicon-thumbs-up"></span>
				<% end %>
			<% end %>
		
			<%= pluralize(@workout.likes.count, "like") %></td>

			<%= form_for :comment, url: comments_path do |form| %>

				<%= form.hidden_field :workout_id, value: @workout.id %>
				<%= form.hidden_field :user_id, value: current_user.id %>
				<td width="80%"><%= form.text_field :comment, class: "form-control", placeholder: "Add a comment here..." %></td>
				<td style="vertical-align:middle" align="right"><%= form.submit "Comment", class: 'btn btn-default' %></td>
			<% end %>
		</tr>
	</table>

	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<ul class="list-group" width="80%">
				<% @workout.comments.each do |print| %>
					<li class="list-group-item"><strong><%= print.user.try(:username) %>:</strong> <%= print.comment %></li>
				<% end %>
			</ul>
		</div>
	</div>

	</div>
	<div class="panel-footer">
		<% if current_user.try(:admin?) %>
			<%= link_to 'Edit', edit_workout_path(@workout) %> | 
		<% end %>
		<%= link_to 'Back', workouts_path %>
	</div>
</div>

<!-- This is for Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56818769-1', 'auto');
  ga('send', 'pageview');

</script>