<div class="panel panel-default">
	<div class="panel-body">

	<h1><%= @workout.name %> <small><%= @workout.description %></small></h1>

	<table class="table">
		<tr>
			<td>
				<h3>Category: <small><%= @workout.category %></small></h3>
			</td>
			<td>
				<h3>Duration (min): <small><%= @workout.duration %></small></h3>
			</td>
			<td style="vertical-align:bottom" align="right">
				<%= form_for :subscription, url: subscriptions_path do |form| %>
					<%= form.hidden_field :workout_id, value: @workout.id %>
					<%= form.hidden_field :user_id, value: current_user.id %>
					<%= form.submit "Subscribe" , class: "btn btn-primary" %>
				<% end %>
			</td>
		</tr>
	</table>

	<h2>Exercises:</h2>

	<table class="table table-striped">
		<% @workout.workoutbits.each do |work|  %>

			<%#= link_to Exercise.find(work.exercise_id).name, Exercise.find(work.exercise_id), class: "workoutLink" %>
			<tr>
				<td><h4><%= link_to work.exercise.name, work.exercise, class: "workoutLink" %></h4></td>
				<td style="vertical-align:middle">Sets: <%= work.sets %> </td>
				<td style="vertical-align:middle">Reps: <%= work.reps %> </td>
				<% if current_user.try(:admin?) %>
					<td style="vertical-align:middle"><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
				<% end %>
			</tr>

		<% end %>
	</table>

	<% if current_user.try(:admin?) %>
		<table class="table">
			<%= form_for :workoutbit, url: workoutbits_path do |form| %>
				<%= form.hidden_field :workout_id, value: @workout.id %>
				<tr>
					<td>
						<%= form.label :exercise_id, "Exercise ID:" %>
						<%= form.select :exercise_id, options_for_select(@exerciseidoptions), {}, {class: "form-control"} %>
					</td>
					<td>
						<%= form.label :sets, "Sets" %>
						<%= form.number_field :sets, class: "form-control" %>
					</td>
					<td>
						<%= form.label :reps, "Reps" %>
						<%= form.number_field :reps, class: "form-control" %>
					</td>		
				
					<td style="vertical-align:bottom"><%= form.submit "Add Exercise", class: "btn btn-primary alignRight" %></td>
				</tr>
			<% end %>
		</table>
	<% end %>

	</div>
	<div class="panel-footer">
		<% if current_user.try(:admin?) %>
			<%= link_to 'Edit', edit_workout_path(@workout) %> | 
		<% end %>
		<%= link_to 'Back', workouts_path %>
	</div>
</div>
