<div class="row"> 
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="visible-sm-block visible-md-block visible-lg-block homepagework">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
        </div>

        <div class="visible-xs-block homepagework">
          <h3>Edit <%= resource_name.to_s.humanize %></h3>
        </div>
        

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class= "form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class: "form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          </div>

          <br/>
          <div class="form-group">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>

        <% end %>

        <%= link_to "Back", :back %>
      </div>

      <div class="panel-footer">
        <h3>Unhappy with Ninjack'd?</h3>
        <p><%= button_to "Cancel my account", cancel_account_path, data: { confirm: "Are you sure? You cannot undo this"}, class: "btn btn-danger" %></p>


      </div>
    </div>
  </div>
</div>
