<div class="row"> 
  <div class="col-md-offset-3 col-md-6">		
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Sign up</h2>

				<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				  <%= devise_error_messages! %>

				  	<% if params[:token] %>
				  		<%= f.hidden_field :paypal_customer_token, value: params[:PayerId] %>
				  		<%= f.hidden_field :paypal_payment_token, value: params[:token] %>

				  		<p>Payment has been recieved. Please fill out form to complete your profile.</p>

				  		<% ppr = PayPal::Recurring.new({ %>
					      <% :token       => params[:token],%>
					      <% :payer_id    => params[:PayerID],%>
					      <% :amount      => 9.99,%>
					      <% :description => "Ninjackd Subscription", %>
					      <% currency: "USD", %>
					      <% frequency: 1, %>
					      <% period: :monthly, %>
					      <% start_at: Time.zone.now, %>
					      <% failed: 1, %>
      					  <% outstanding: :next_billing, %>
      					  <% trial_length: 14, %>
      					  <% trial_period: :daily, %>
      					  <% trial_frequency: 1 %>
					      <% }) %>
					     
					    <% response = ppr.request_payment %>
					    <% response.approved? %>
					    <% response.completed? %>

					    <% response = ppr.create_recurring_profile %>
					    <%= f.hidden_field :paypal_recurring_profile, value: response.profile_id %>

				  	<% end %>

				    <div class="form-group">
				      	<%= f.label :name %>
				        <%= f.text_field :name, autofocus: true, class: "form-control" %>
				    </div>

				    <div class="form-group">
				      	<%= f.label :username %>
				        <%= f.text_field :username, class: "form-control" %>
				    </div>

					<div class="form-group">
						<%= f.label :email %>
						<% if params[:token] %>
							<%= f.email_field :email, value: PayPal::Recurring.new(token: params[:token]).checkout_details.email, class: "form-control" %>
						<% else %>
				 			<%= f.email_field :email, class: "form-control" %>
				 		<% end %>
				 	</div>

					<div class="form-group">
						<%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
				    	<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
				    </div>

					<div class="form-group">
						<%= f.submit "Sign up", class: "btn btn-primary" %>
					</div>

				<% end %>

				
			</div>
			<div class="panel-footer">
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>