<% if current_user.try(:admin?) %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Listing comments</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Workout</th>
            <th>Comment</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.user_id %></td>
              <td><%= comment.workout_id %></td>
              <td><%= comment.comment %></td>
              <td><%= link_to 'Show', comment %></td>
              <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
              <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      <%= link_to 'New Comment', new_comment_path %>
    </div>
  </div>
<% else %>
  <%= render 'pages/unauth' %>
<% end %>