<% if current_user.try(:admin?) %>
	<div class="panel panel-default">
		<div class="panel-body">
			<p id="notice"><%= notice %></p>

			<p>
			  <strong>User:</strong>
			  <%= @like.user_id %>
			</p>

			<p>
			  <strong>Workout:</strong>
			  <%= @like.workout_id %>
			</p>
		</div>
		<div class="panel-footer">
			<%= link_to 'Edit', edit_like_path(@like) %> |
			<%= link_to 'Back', likes_path %>
		</div>
	</div>
<% else %>
	<%= render 'pages/unauth' %>
<% end %>