<div class="panel panel-default">
	<div class="panel-body">

	<h1><%= @subscription.workout.name %> <small><%= @subscription.workout.description %></small></h1>
	<table class="table table-striped">
		<thead>
			<th>Exercise</th>
			<th>Sets</th>
			<th>Reps</th>
			<th></th>
		</thead>
		<% @subscription.workout.workoutbits.each do |this| %>
			<tr>
				<td><%= this.exercise.name %></td>

				<%# This queury checks whether or not the user has already marked an exercise as complete and changes the output accordingly %>
				<% check = History.where("subscription_id = ? AND exercise_id = ?", @subscription.id, this.exercise.id).exists? %>

				<% unless check %>
					<%= form_for @history do |form| %>
					
						
						<%= form.hidden_field :subscription_id, value: @subscription.id %>
						<%= form.hidden_field :exercise_id, value: this.exercise.id %>
						<%= form.hidden_field :complete, value: true %>
						<td>
							<%= form.number_field :sets, value: this.sets %>
						</td>

						<td>
							<%= form.number_field :reps, value: this.reps %>
						</td>

						<td><%= form.submit "Mark Complete", class: "btn btn-default btn-sm" %></td>

					<% end %>
				<% else %>
					<% history = History.where("subscription_id = ? AND exercise_id = ?", @subscription.id, this.exercise.id).first %>
					<td><%= history.sets %></td>
					<td><%= history.reps %></td>				
					<td><%= link_to 'Change', history, method: :delete %></td>
				<% end %>


			</tr>
		<% end %>
	</table>

<% if false %>
	<%= form_for @subscription do |form| %>

		<% @subscription.workout.workoutbits.each do |each| %>
			<%# History.new(subscription_id: @subscription.id, exercise_id: each.exercise.id, complete: true, reps: each.reps, sets: each.sets) %>
			<% history = History.new %>
			<% history.subscription_id = @subscription.id %>
			<% history.exercise_id = each.exercise.id %>
			<% history.complete = true %>
			<% history.sets = each.sets %>
			<% history.reps = each.reps %>
			<% history.save %>
		<% end %>

		<%= form.hidden_field :complete, value: true %>
		<%= form.submit "Complete workout", class: "btn btn-primary"  %>
	<% end %>
<% end %>


	</div>
</div>