<div class="panel panel-default">
	<div class="panel-body">

		<h1>Completed workouts</h1>

		<% @subscriptions = current_user.subscriptions.where(:complete => true).order("created_at DESC").paginate(:page => params[:page], :per_page => 10) %>
		<div class="table-responsive">
			<table class="table table-striped completed_desktop">
				<thead>
					<tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date</th>
            <th>Duration</th>
					<tr>
				</thead>

				<% @subscriptions.each do |this| %>
					<% if this.complete? %>
						<tr>
							<td><%= link_to this.workout.name , detailedHistory_path(subscription_id: this.id), class: "workoutLink" %></td>
							<td><%= this.workout.category %></td>
							<td><%= this.workout.description %></td>
							<% finish = this.try :finish_time %>
							<td align="right"><%unless finish.blank? %>
								<%= finish.try :month %>/<%= finish.try :day %>
								<% end %></td>
							<% unless this.finish_time.blank? or this.start_time.blank? %>
								<td align="right"><%= elapsed_time = (((this.finish_time - this.start_time))/60).round(0) %> min</td>
							<% else %>
								<td></td>
							<% end %>
						</tr>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
</div>