<div class="panel panel-default">
	<div class="panel-body">
		<% @subscription = Subscription.find(params[:subscription_id]) %>

		<h2><%= @subscription.workout.name %> <small>Keep up the great work!</small> </h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<th>Exercise</th>
					<th>Sets</th>
					<th>Reps</th>
				</thead>

				<% if false %>
				<% @subscription.workout.workoutbits.each do |this| %>
					<tr>
						<td><%= link_to this.exercise.name, this.exercise, class: "workoutLink" %></td>
						<td><%= this.sets %></td>
						<td><%= this.reps %></td>
					</tr>
				<% end %>
				<% end %>

				<% @subscription.histories.each do |this| %>
					<tr>
						<td><%= Exercise.find(this.exercise_id).name %></td>
						<td><%= this.sets %></td>
						<td><%= this.reps %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="panel-footer">
		<%= link_to "Back", workoutHistory_path %>

	</div>
</div>