<div class="panel panel-default">
	<div class="panel-body">
		<div class="visible-lg-block homepagework">
			<h1><%= @ethan.name %> <small>Take a look at what I'm up to this week!</small></h1>
		</div>
		<div class="visible-xs-block visible-sm-block visible-md-block homepagework">
			<h3><%= @ethan.name %> <small>Take a look at what I'm up to this week!</small></h3>
		</div>
		<hr/>

	<div class="visible-lg-block homepagework">
		<div class="row grid7">
			<% @dayinc = 0 %>
			<% 7.times do %>
				<div class="col-md-1">
					<div class="panel panel-info center">
						<div class="panel-heading">
							<strong><%= Date::DAYNAMES[@dayinc] %></strong>
						</div>
						<div class="panel-body">
							<% @dayinc += 1 %>
							<% @none = 0 %>

							<% @subscriptions.each do |check| %>
								<% if check.schedule == @dates[@dayinc - 1] %>
									<h4><%= link_to check.workout.name, check.workout, class: "workoutLink" %></h4>
									<% check.workout.workoutbits.each do |exercise| %>
										<%= link_to exercise.exercise.name, exercise.exercise, class: "workoutLink" %></br>
									<% end %>
									<% @none += 1 %>
								<% end %>
							<% end %>

							<% if @none == 0 %>
								<%= image_tag "ninja folder/#{rand(27)}.png", width: "100%" %>
							<% end %>


						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="visible-xs-block visible-sm-block visible-md-block homepagework">
		<div class="row">
			<% @dayinc = 0 %>
			<% 7.times do %>
				<div class="col-sm-4 pull-left col-xs-6 pull-left col-md-3 pull-left">
					<div class="panel panel-info center">
						<div class="panel-heading">
							<strong><%= Date::DAYNAMES[@dayinc] %></strong>
						</div>
						<div class="panel-body">

							<% @dayinc += 1 %>
							<% @none = 0 %>

							<% @subscriptions.each do |check| %>
								<% if check.schedule == @dates[@dayinc - 1] %>
									<h4><%= link_to check.workout.name, check.workout, class: "workoutLink" %></h4>
									<% check.workout.workoutbits.each do |exercise| %>
										<%= link_to exercise.exercise.name, exercise.exercise, class: "workoutLink" %></br>
									<% end %>
									<% @none += 1 %>
								<% end %>
							<% end %>

							<% if @none == 0 %>
								<%= image_tag "ninja folder/#{rand(27)}.png", height: "auto", width: "100%" %>
							<% end %>

						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	</div>
	<div class="panel-footer">
		<%= link_to "Back", :back %>
	</div>
</div>
