<div class="jumbotron center">

		<div class="row row-centered">
			<div class="col-md-6 col-centered">
				<h1 style="text-align:right; vertical-align:top" class="hometext">Welcome to</h1>
			</div>
			<div class="col-md-6 col-centered logoimg img-responsive">
				 <%= image_tag "ninjack'd-final-no-bg2-tm.png", style:"width: 351px; padding: 0px", class: "img-responsive logoimg" %>
			</div>
		</div>


	<div class="row row-centered>"><div class="col-md-6 col-centered"><p>We're here to get you fit. Providing you with fresh, weekly workouts. Come, follow me down the rabbit hole!</p></div></div>
	<% unless user_signed_in? %>
		<%= link_to "Login", new_user_session_path, class: "btn btn-default" %>
		<%= link_to "Signup", purchase_path, class: "btn btn-primary" %>
	<% end %>
</div>

<div class="row row-centered">
	<% unless Dailytip.where(show_date: Date.today).nil? then dailytip = Dailytip.offset(rand(Dailytip.count)).first else dailytip = Dailytip.where(show_date: Date.today).first end %>
	<%= render 'dailytips/tipofday', {dailytip: dailytip } %>
	<%= render 'userreviews/randomreview', {userreview: Userreview.offset(rand(Userreview.count)).first} %>
</div>

<div class="visible-md-block visible-lg-block visible-sm-block homepagework">
	<div class="panel panel-default">
		<div class="panel-body" data-no-turbolink="true">
			<%= render "workouts/workouts", {workouts: Workout.all} %>
		</div>
	</div>
</div>


<div class="visible-xs-block homepagework">
	<!--<div id="homeworkouts">
	<div class="sort_paginate_ajax">-->
		<% render 'workouts/workouts2', {workouts: Workout.all.order('created_at DESC').paginate(:page => params[:page], :per_page => 1)} %>
</div>

<div class="visible-xs-block homepagework" >
	<div id="homeworkoutspage">
		<%= render 'homeworkoutspage' %>
	</div>
</div>