<div class="jumbotron center">

		<div class="row row-centered">
			<div class="col-md-6 col-centered">
				<h1 style="text-align:right; vertical-align:top" class="hometext">Welcome to</h1>
			</div>
			<div class="col-md-6 col-centered logoimg img-responsive">
				 <%= image_tag "ninjack'd-final-no-bg2.png", style:"width: 351px; padding: 0px", class: "img-responsive logoimg" %>
			</div>
		</div>


	<p>We're here to help you get fit. Come, follow me down the rabbit hole!</p>
	<% unless user_signed_in? %>
		<%= link_to "Login", new_user_session_path, class: "btn btn-default" %>
		<%= link_to "Signup", purchase_path, class: "btn btn-primary" %>
	<% end %>
</div>

<div class="row row-centered">
	<% unless Dailytip.where(show_date: Date.today).nil? then dailytip = Dailytip.offset(rand(Dailytip.count)).first else dailytip = Dailytip.where(show_date: Date.today).first end %>
	<%= render 'dailytips/tipofday', {dailytip: dailytip } %>
	<%= render 'userreviews/randomreview', {userreview: Userreview.offset(rand(Userreview.count)).first} %>
</div>

<div class="panel panel-default">
	<div class="panel-body" data-no-turbolink="true">
		<%= render "workouts/workouts", {workouts: Workout.all} %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body" data-no-turbolink="true">
		<%= render "workouts/workouts2", {workouts: Workout.all} %>
	</div>
</div>