<div class="jumbotron center">

		<h1>Welcome to <%= image_tag "ninjack'd-final-no-bg2.png", style:"height: 100px; padding: 0px;", class: "logoimg" %></h1>

	<p>We're here to help you get fit. Come, follow me down the rabbit hole!</p>
	<% unless user_signed_in? %>
		<%= link_to "Login", new_user_session_path, class: "btn btn-default" %>
		<%= link_to "Signup", purchase_path, class: "btn btn-primary" %>
	<% end %>
</div>

<%= render 'dailytips/tipofday', {dailytip: Dailytip.where(show_date: Date.today).first } %>

<div class="panel panel-default">
	<div class="panel-body" data-no-turbolink="true">
		<%= render "workouts/workouts" %>
	</div>
</div>