<div class="panel panel-default">
	<div class="panel-body">

		<h1>Here's your completed workout!</h1>

		<% @subscriptions = current_user.subscriptions.where(:complete => true).order("created_at DESC").paginate(:page => params[:page], :per_page => 10) %>

		<table class="table">
			<thead>
				<tr>
		            <th>Name</th>
		            <th>Category</th>
		            <th>Description</th>
		            <th>Duration (min)</th>
		            <th>Time Started</th>
		            <th>Time Ended</th>
				<tr>
			</thead>

			<% @subscriptions.each do |this| %>
				<% if this.complete? %>
					<tr>
						<td><%= link_to this.workout.name , detailedHistory_path(subscription_id: this.id), class: "workoutLink" %></td>
						<td><%= this.workout.category %></td>
						<td><%= this.workout.description %></td>
						<td><%= this.workout.duration %></td>
						<td><%= this.start_time %></td>
						<td><%= this.finish_time %></td>
					</tr>
				<% end %>
			<% end %>

		</table>
	</div>
</div>

<div class="center">
  <%= will_paginate @subscriptions, renderer: BootstrapPagination::Rails %>
</div>