<%= form_for(@weekplan) do |f| %>
  <% if @weekplan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weekplan.errors.count, "error") %> prohibited this weekplan from being saved:</h2>

      <ul>
      <% @weekplan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <table class="table">
    <tr>
      <div class="field form-group">
        <td><%= f.label :sunday_workout_id %><br>
        <%= f.select :sunday_workout_id, options_for_select(@workoutOptions), class: "form-control" %></td>
      </div>
      <div class="field form-group">
        <td><%= f.label :monday_workout_id %><br>
        <%= f.select :monday_workout_id, options_for_select(@workoutOptions), class: "form-control" %></td>
      </div>
      <div class="field form-group">
        <td><%= f.label :tuesday_workout_id %><br>
        <%= f.select :tuesday_workout_id, options_for_select(@workoutOptions), class: "form-control" %></td>
      </div>
      <div class="field form-group">
        <td><%= f.label :wednesday_workout_id %><br>
        <%= f.select :wednesday_workout_id, options_for_select(@workoutOptions), class: "form-control" %><td>
      </div>
      <div class="field form-group">
        <td><%= f.label :thursday_workout_id %><br>
        <%= f.select :thursday_workout_id, options_for_select(@workoutOptions), class: "form-control" %></td>
      </div>
      <div class="field form-group">
        <td><%= f.label :friday_workout_id %><br>
        <%= f.select :friday_workout_id, options_for_select(@workoutOptions), class: "form-control" %></td>
      </div>
      <div class="field form-group">
        <td><%= f.label :saturday_workout_id %><br>
        <%= f.select :saturday_workout_id, options_for_select(@workoutOptions), class: "form-control" %></td>
      </div>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
