<% if current_user.try(:admin?) %>
	<div class="panel panel-default">
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					<p>
					  <strong>Workout:</strong>
					  <%= @workoutbit.workout_id %>
					</p>
				</li>
				<li class="list-group-item">
					<p>
					  <strong>Exercise:</strong>
					  <%= @workoutbit.exercise_id %>
					</p>
				</li>
				<li class="list-group-item">
					<p>
					  <strong>Sets:</strong>
					  <%= @workoutbit.sets %>
					</p>
				</li>
				<li class="list-group-item">
					<p>
					  <strong>Reps:</strong>
					  <%= @workoutbit.reps %>
					</p>
				</li>
			</ul>
		</div>
		<div class="panel-footer">
			<%= link_to 'Edit', edit_workoutbit_path(@workoutbit) %> |
			<%= link_to 'Back', workoutbits_path %>
		</div>
	</div>
<% else %>
	<%= render 'pages/unauth' %>
<% end %>