<h3 class="center">Here's your week looks like</h3>
<div id="weekssm" class="transitions-enabled">
	<% @days_from_this_week.each do |list| %>
		<% if list == Date.today %>
			<div class="boxsm panel panel-primary">
		<% elsif list > Date.today and list <= Date.today + 6 %>
			<div class="boxsm panel panel-info">
		<% else %>
			<div class="boxsm panel panel-default">
		<% end %>

			<div class="panel-heading center">
				<%= Date::DAYNAMES[list.wday] %><br/>
				<%= Date::MONTHNAMES[list.month] %> <%= list.day %>
			</div>

			<div class="panel-body">
					<% @none = 0 %>
					<% @count = 0 %>
					<% @scheduled.each do |check| %>
						
						<% if check.schedule == list %>
							<% unless check.try(:complete?) %>
								<% if @count > 0 %>
									<hr/>
								<% end %>
								<div class="center">
								<% if list == Date.today %>
									<% if check.histories.count > 0 %>
										<%= link_to "Continue Workout", currentWorkout_path(subscription_id: check.id), class: "btn btn-primary btn-sm" %>
									<% else %>
										<%= link_to "Start workout", currentWorkout_path(subscription_id: check.id), class: "btn btn-primary btn-sm" %>
									<% end %>
								<% end %>
								</div>
								<h4 align="middle"><%= link_to check.workout.name, check.workout, class: "workoutLink" %></h4>
								<p><%= check.workout.description %></p>
								
								
								<% @none += 1 %>
								<% @count += 1 %>
								<div align="middle"><%= link_to 'Unsubscibe', check, method: :delete, data: { confirm: 'Are you sure?' } %></div>
							<% end %>

						<% end %>
					<% end %>
					<% @count = 0 %>
					<% @completedSubscriptions.each do |past| %>
						
						<% if past.schedule == list %>
							<% if @count > 0 %>
								<hr/>
							<% end %>
							
							<h4 align="middle"><%= link_to past.workout.name, past.workout, class: "workoutLink" %></h4>
							<p><%= past.workout.description %></p>
							
							<% @count +=1 %>
							<% @none += 1 %>
						<% end %>
					<% end %>
					<% if @none == 0 %>
						<%= image_tag "ninja folder/#{rand(27)}.png" %>
					<% end %>

			</div>
		</div>
	<% end %>
</div>