<div class="panel panel-default">
	<div class="panel-body">
		<h3><%= current_user.name %> <small>Here are your workouts</small></h3>
		<% unless @todaySubscriptions.blank? %>
			<hr/>
			<h4>You have this workout scheduled for today</h4>
				
					
						
				    	<% @todaySubscriptions.each do |this| %>
				    		<div class="panel panel-default">
				    			<div class="panel-body" style="padding-left:0; padding-right:0">
						    		
						    		
						    			<% if this.histories.count > 0 %>
											<div data-no-turbolink="true"><%= link_to "Continue Workout", currentWorkout_path(subscription_id: this.id), class: "btn btn-primary" %></div>
											<%= link_to 'Unsubscibe', this, method: :delete, data: { confirm: 'Are you sure?' } %>
										<% else %>
											<div data-no-turbolink="true"><%= link_to "Start Workout", currentWorkout_path(subscription_id: this.id), class: "btn btn-primary" %></div>
											<div style="float:none; vertical-align:middle"><%= link_to 'Unsubscibe', this, method: :delete, data: { confirm: 'Are you sure?' } %></div>
										<% end %>
										<table class="table table-striped table-condensed">
										<tr><td colspan="2"><h4><%= link_to this.workout.name, this.workout, class: "workoutLink" %> <small><%= this.workout.category %></small></h4></td><tr>

										<tr><td colspan="2"><%= this.workout.description %></td></tr>
										
										<% date = this.try(:schedule) %>
										<tr>
										<% unless date.blank? %>
											<td><h5><%= Date::MONTHNAMES[date.month] %> <%= date.day %></h5></td>
										<% end %>
										<td><h5>Duration: <small><%= this.workout.duration %> min</small></h5></td></tr>
									</table>
								</div>
							</div>
						    		
				    	<% end %>
					
				
		<% end %>

			<% unless @subscriptions.blank? %>
				<br/>
				<h2>These are coming up on your calendar</h2>
				
					<table class="table table-striped">
					<thead>
			    		<tr>
			    			
				            <th>Name</th>
				            <th>Category</th>
				            <th>Description</th>
				            <th>Duration (min)</th>
				            <th>Scheduled</th>
				            <th></th>
				            
			    		</tr>
			    	</thead>
					<% @subscriptions.each do |this| %>

						<% unless this.try(:complete?) %>
							<tr>	
								
								<td><%= link_to this.workout.name, this.workout, class: "workoutLink" %></td>
								<td><%= this.workout.category %></td>
								<td><%= this.workout.description %></td>
								<td><%= this.workout.duration %></td>
								<% date = this.try(:schedule) %>
								<% unless date.blank? %>
									<td><%= Date::MONTHNAMES[date.month] %> <%= date.day %></td>
								<% end %>
								<td><%= link_to 'Unsubscibe', this, method: :delete, data: { confirm: 'Are you sure?' } %></td>
								
							</tr>
						<% end %>
					<% end %>
				</table>
			
		<% end %>
		<% if @subscriptions.blank? and @todaySubscriptions.blank? %>
			<h3>You don't have any active workouts right now!</h3>
			<h3><%= link_to "Fix that", workouts_path %></h3>
		<% end %>
	</div>
</div>
