<div class="panel panel-default">
	<div class="panel-body">
		<h3><%= current_user.name %> <small>Here are your workouts</small></h3>
		<% unless @todaySubscriptions.blank? %>
			<hr/>
			<h4>You have this workout scheduled for today</h4>
				
					
						
				    	<% @todaySubscriptions.each do |this| %>
				    		<div class="panel panel-default">
				    			<div class="panel-heading">
				    				<h4><%= link_to this.workout.name, this.workout, class: "workoutLink" %> <small><%= this.workout.description %></small></h4>
				    			</div>
				    			<div class="panel-body" style="padding:0">

						    		
						    		


										<table class="table table-striped table-condensed">
											<tr></tr>

											<tr><td colspan="2"><h5>Category: <small><%= this.workout.category %></small></h5></td></tr>
											
											<% date = this.try(:schedule) %>
											<tr>
											<% unless date.blank? %>
												<td><h5><%= Date::MONTHNAMES[date.month] %> <%= date.day %></h5></td>
											<% end %>
											<td><h5>Duration: <small><%= this.workout.duration %> min</small></h5></td></tr>

							    		<% if this.histories.count > 0 %>
												<tr>
														<td><div data-no-turbolink="true"><%= link_to "Continue Workout", currentWorkout_path(subscription_id: this.id), class: "btn btn-primary" %></div></td>
													
													
														<td><div align="right"><%= link_to 'Unsubscibe', this, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
													
												</tr>
											<% else %>
												<tr>
														<td style="margin-top:5px"><div data-no-turbolink="true"><%= link_to "Start Workout", currentWorkout_path(subscription_id: this.id), class: "btn btn-primary" %></div></td>
													
														<td style="margin-top:5px" class="vert-align" ><div align="middle"><%= link_to 'Unsubscibe', this, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
												</tr>
											<% end %>
																			
									</table>
								</div>
							</div>
						    		
				    	<% end %>
					
				
		<% end %>


			<% unless @subscriptions.blank? %>
			<hr/>
				
				<h4>These are coming up on your calendar</h4>
				
					
					<% @subscriptions.each do |this| %>

						<% unless this.try(:complete?) %>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4><%= link_to this.workout.name, this.workout, class: "workoutLink" %> <small><%= this.workout.description %></small></h4>
								</div>
								<div class="panel-body" style="padding:0">

									<table class="table table-striped tabled-condensed">
										<tr></tr>
										<tr><td colspan="2">
											<h5>Category: <small><%= this.workout.category %></small></h5>
										</td></tr>
										<tr>
											<% date = this.try(:schedule) %>
											<% unless date.blank? %>
												<td><%= Date::MONTHNAMES[date.month] %> <%= date.day %></td>
											<% end %>
											<td><%= this.workout.duration %></td>
										</tr>
										<tr><td colspan="2" class="vert-align"><%= link_to 'Unsubscibe', this, method: :delete, data: { confirm: 'Are you sure?' }, class: "alignRight" %></td></tr>
									</table>

								</div>
							</div>

						<% end %>
					<% end %>
			
		<% end %>
		<% if @subscriptions.blank? and @todaySubscriptions.blank? %>
			<div class="panel panel-default">
				<div class="panel-body" style="padding:5">
					<h4>You don't have any active workouts right now!</h4>
					<h4><%= link_to "Fix that", workouts_path %></h4>
				</div>
			</div>
		<% end %>
	</div>
</div>
