<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">List View</button>
  <button type="button" class="btn btn-default">Calendar View</button>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<h1><%= current_user.name %> <small>Here are your workouts</small></h1>

		<%= render 'list' %>
			<% if @subscriptions.blank? %>
				<h3>You don't have any active workouts right now!</h3>
				<h3><%= link_to "Fix that", workouts_path %></h3>
			<% end %>
	</div>

</div>

<div class="center">
  <%= will_paginate @subscriptions, renderer: BootstrapPagination::Rails %>
</div>

<%= render 'calendar' %>