<div class="panel panel-default">
	<div class="panel-body">
		<h1><%= current_user.name %> <small>Here are your workouts</small></h1>

		<% unless @subscriptions.blank? %>
			<table class="table table-striped">
				<thead>
	        		<tr>
	        			<th></th>
			            <th>Name</th>
			            <th>Category</th>
			            <th>Description</th>
			            <th>Duration (min)</th>
			            <th>Date Joined</th>
			            <th></th>
			            
	        		</tr>
	        	</thead>
				<% @subscriptions.each do |this| %>

					<% unless this.try(:complete?) %>
						<tr>	
							<% if this.histories.count > 0 %>
								<td><%= link_to "Continue Workout", currentWorkout_path(subscription_id: this.id), class: "btn btn-primary" %></td>
							<% else %>
								<td><%= link_to "Start workout", currentWorkout_path(subscription_id: this.id), class: "btn btn-primary" %></td>
							<% end %>
							<td><%= link_to this.workout.name, this.workout, class: "workoutLink" %></td>
							<td><%= this.workout.category %></td>
							<td><%= this.workout.description %></td>
							<td><%= this.workout.duration %></td>
							<td><%= this.created_at.month %>/<%= this.created_at.day %>/<%= this.created_at.year %></td>
							<td><%= link_to 'Unsubscibe', this, method: :delete, data: { confirm: 'Are you sure?' } %></td>
							
						</tr>
					<% end %>
				<% end %>
			</table>
		<% end %>
		<% if @subscriptions.blank? %>
			<h3>You don't have any active workouts right now!</h3>
			<h3><%= link_to "Fix that", workouts_path %></h3>

		<% end %>


	</div>

</div>

<div class="center">
  <%= will_paginate @subscriptions, renderer: BootstrapPagination::Rails %>
</div>

<div id="weeks" class="transitions-enabled">
	<% @scheduled.each do |schedule| %>
		<div class="box panel panel-default">
			<div class="panel-body">
				<%= schedule.workout.name %>
				<%= schedule.workout.description %>
			</div>
		</div>
	<% end %>
</div>











