<div class="visible-xs-block visible-sm-block visible-md-block homepagework">
	<div class="planname">
		<h3><%= @weeklyplan.name %></h3>
	</div>
	<% if current_user.id == @weeklyplan.usercreate %>
		<div class="editfield">
			<%= form_for @weeklyplan do |form| %>
				<%= form.label :name %>
				<%= form.text_field :name, placeholder: "type new name here..." %>
				<%= form.submit "Save", class: "btn btn-primary btn-sm" %>
			<% end %>
		</div>
	<% end %>
</div>
<div class="visible-lg-block homepagework">
	<div class="planname">
		<h1><%= @weeklyplan.name %></h1>
	</div>
	<% if current_user.id == @weeklyplan.usercreate %>
		<div class="editfield">
			<%= form_for @weeklyplan do |form| %>
				<%= form.label :name %>
				<%= form.text_field :name, placeholder: "type new name here...", id: "update_weeklyplan_name" %>
				<%= form.submit "Save", class: "btn btn-primary btn-sm", id: "update_name_button" %>
			<% end %>
		</div>
	<% end %>
</div>



<%#= link_to "Edit name", "#", class: "editname" %>

<br/>

<%= render 'weekform' %>
