<div class="panel panel-default">
  <div class="panel-body">
    <h1>Listing exercises</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Diagram</th>
          <% if current_user.try(:admin?) %>
            <th colspan="2"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @exercises.each do |exercise| %>
          <tr>
            <td><%= link_to exercise.name, exercise, class: "workoutLink" %></td>
            <td><%= exercise.description %></td>
            <td><%= image_tag exercise.diagram.url(:medium) %></td>
            <% if current_user.try(:admin?) %>
              <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
              <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <% if @exercises.blank? %>
    <h1>We'll be coming soon! Stay Posted</h1>
  <% end %>


  <div class="panel-footer">
    <% if current_user.try(:admin?) %>
      <%= link_to 'New Exercise', new_exercise_path %>
    <% else %>
      <%= mail_to("ethan@simplefitapp.com", name = "Want to see some more exercises? Let me know!", html_options = {subject: "Request for new exercises"}) %>
    <% end %>
  </div>
</div>