<% if user_signed_in? %>
  <div class="visible-md-block visible-lg-block visible-sm-block homepagework">
    <div class="panel panel-default">
      <div class="panel-body">

        <h1>Listing exercises</h1>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <%= form_tag exercises_path, :method => 'get' do %>
                <td>
                    <%= label_tag(:search, "Search by name") %>
                    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "type here..." %>
                </td>

                <td>
                    <%= label_tag(:lookfor, "Search by description") %>
                    <%= text_field_tag :lookfor, params[:lookfor], class: "form-control", placeholder: "type here..." %>
                </td>

                <td align="center", style="vertical-align:bottom", width="10%">
                  <%= submit_tag("Filter", :name => nil, class: "btn btn-success") %>
                </td>
              <% end %>

              <%= form_tag exercises_path, :method => 'get' do %>
                <td align="center" style="vertical-align:bottom", width="10%"><%= submit_tag("Reset Filter", class: "btn btn-primary" )%></td>
              <% end %>     
            </tr>
          </table>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Diagram</th>
                <% if current_user.try(:admin?) %>
                  <th colspan="2"></th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% @exercises.each do |exercise| %>
                <tr>
                  <td><%= link_to exercise.name, exercise, class: "workoutLink" %></td>
                  <td><%= exercise.description %></td>
                  <td><%= image_tag exercise.diagram.url(:medium) %></td>
                  <% if current_user.try(:admin?) %>
                    <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
                    <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      
      <% if @exercises.blank? %>
        <h1>We'll be coming soon! Stay Posted</h1>
      <% end %>


      <div class="panel-footer">
        <% if current_user.try(:admin?) %>
          <%= link_to 'New Exercise', new_exercise_path %>
        <% else %>
          <%= mail_to("ninjackd@gmail.com", name = "Want to see some more exercises? Let me know!", html_options = {subject: "Request for new exercises"}) %>
        <% end %>
      </div>
    </div>
  </div>





  <div class="visible-xs-block homepagework">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Exercises</h1>
      </div>
      <div class="panel-body">
        <div class="row">

            <%= form_tag exercises_path, :method => 'get' do %>

            <div class="col-sm-2">      
              <%= label_tag(:search, "Search by name") %>
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "type here..." %>
            </div>
            <div class="col-sm-2">             
              <%= label_tag(:lookfor, "Search by description") %>
              <%= text_field_tag :lookfor, params[:lookfor], class: "form-control", placeholder: "type here..." %>
            </div>
            <div class="col-xs-4" style="padding-top:10px">  
              <%= submit_tag("Filter", :name => nil, class: "btn btn-success") %>
            </div>    
            <% end %>

            <%= form_tag exercises_path, :method => 'get' do %>
              <div style="padding:10px"><%= submit_tag("Reset Filter", class: "btn btn-primary" )%></div>
            <% end %> 
        </div>

        <table class="table table-striped table-condensed">
          <% @exercises.each do |exercise| %>            
            <tr>
              <td><%= link_to exercise.name, exercise, class: "workoutLink" %></td>
              <td><%= exercise.description %></td>
              <% if current_user.try(:admin?) %>
                <td><%= link_to 'Edit', edit_exercise_path(exercise) %> | 
                <%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </table>

      </div>
      <div class="panel-footer">
        <% if current_user.try(:admin) %><%= link_to "New Exercise", new_exercise_path %><% end %>
      </div>
    </div>
  </div>




  <div class="center">
    <%= will_paginate @exercises, renderer: BootstrapPagination::Rails %>
  </div>
<% else %>
  <%= render 'pages/pleasesignin' %>
<% end %>