<div class="panel panel-default">
  <div class="panel-body">
    <h1>Listing exercises</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Diagram</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @exercises.each do |exercise| %>
          <tr>
            <td><%= exercise.name %></td>
            <td><%= exercise.description %></td>
            <td><%= image_tag exercise.diagram.url(:medium) %></td>
            <td><%= link_to 'Show', exercise %></td>
            <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
            <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="panel-footer">
    <%= link_to 'New Exercise', new_exercise_path %>
  </div>
</div>