<div class="panel panel-default">
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="visible-md-block visible-lg-block visible-sm-block homepagework">
					<h3><%= @exercise.name %> <small><%= @exercise.description %></small></h3>
				</div>
				<div class="visible-xs-block homepagework">
					<h4><%= @exercise.name %> <small><%= @exercise.description %></small></h4>
				</div>
			</li>
			<li class="list-group-item center">
				<div class="visible-sm-block visible-md-block visible-lg-block homepagework">
					<%= image_tag @exercise.diagram.url(:medium) %>
				</div>

				<div class="visible-xs-block homepagework">
					<%= image_tag @exercise.diagram.url(:thumb) %>
				</div>
			  	
			</li>
		</ul>
	</div>
	<div class="panel-footer">
		<% if current_user.try(:admin?) %>
			<%= link_to 'Edit', edit_exercise_path(@exercise) %> | 
		<% end %>
		<%= link_to 'Back', :back %>
	</div>
</div>
