	<p id="notice"><%= notice %></p>
<div class="panel panel-default">
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">
				<p>
				  <strong>Name:</strong>
				  <%= @exercise.name %>
				</p>
			</li>
			<li class="list-group-item">
				<p>
				  <strong>Description:</strong>
				  <%= @exercise.description %>
				</p>
			</li>
		</ul>
	</div>
	<div class="panel-footer">
		<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
		<%= link_to 'Back', exercises_path %>
	</div>
</div>
